<a href="https://colab.research.google.com/github/GuraTom9/NLP100/blob/main/NLP100_10_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#第2章　UNIXコマンド

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

%cd "drive/My Drive/NLP100"

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
[Errno 2] No such file or directory: 'drive/My Drive/NLP100'
/content/drive/My Drive/NLP100

##10.行数のカウント

In [ ]:
cnt_line = 0
with open('popular-names.txt') as f:
    for line in f:
        cnt_line += 1
print(cnt_line)

2780

In [ ]:
# 確認
! wc -l popular-names.txt

2780 popular-names.txt

##11.タブをスペースに変換

In [ ]:
import re

with open("popular-names.txt") as f:
    text = re.sub(r'\t', ' ', f.read())

print(text)

In [ ]:
# 確認
# s/：正規表現で置換処理をする
# /g：正規表現にマッチしたすべての文字列を置換する
# \t/ /：タブをスペースに置換する
! sed -e 's/\t/ /g' popular-names.txt | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

##12.1列目をcol1.txtに, 2列目をcol2.txtに保存

In [ ]:
with open("popular-names.txt") as f:
    lines = f.readlines()
    col1 = []
    col2 = []

    for line in lines:
        col1.append(line.split('\t')[0])
        col2.append(line.split('\t')[1])

def write_data(data_list, file_name):
    with open(file_name, 'w') as f:
        for data in data_list:
            f.write("%s\n" % data)

write_data(col1, "col1.txt")
write_data(col2, "col2.txt")

! head -n 5 col1.txt
! head -n 5 col2.txt

Mary
Anna
Emma
Elizabeth
Minnie
F
F
F
F
F

In [ ]:
# 確認
! cut -f 1 popular-names.txt | head -n 5  # popular-names.txtの1列目の最初の5行
! cut -f 2 popular-names.txt | head -n 5  # popular-names.txtの2列目の最初の5行

Mary
Anna
Emma
Elizabeth
Minnie
F
F
F
F
F

##13.col1.txtとcol2.txtをマージ

In [ ]:
with open("col1.txt") as f1, open("col2.txt") as f2:
    col1_items = [line.strip() for line in f1.readlines()]
    col2_items = [line.strip() for line in f2.readlines()]

    col12_items = []
    for i in range(len(col1_items)):
        col12_items.append(col1_items[i] + '\t' + col2_items[i])

with open('col1-2.txt', 'w') as f:
    for data in col12_items:
        f.write("%s\n" % data)

# 先頭5行表示
for i in range(5):
    print(col12_items[i])

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

In [ ]:
# 確認 先頭5行
# pasteコマンド：複数ファイルを行単位で連結する
! paste col1.txt col2.txt | head -n 5

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

##14.先頭からN行を出力

In [ ]:
print("表示するテキストファイル名を入力：")
file_name = input('>> ')
print("先頭から表示する行数を入力：")
n = input('>> ')
with open(file_name) as f:
    items = [line.strip() for line in f.readlines()]
    for i in range(int(n)):
        print(items[i])

表示するテキストファイル名を入力：
>> popular-names.txt
先頭から表示する行数を入力：
>> 5
Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [ ]:
# 確認
!head -n 5 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

##15.末尾のN行を出力

In [ ]:
print("表示するテキストファイル名を入力：")
file_name = input('>> ')
print("末尾から表示する行数を入力：")
n = input('>> ')
with open(file_name) as f:
    items = [line.strip() for line in f.readlines()]
    for i in range(-(int(n)), 0):
        print(items[i])

表示するテキストファイル名を入力：
>> popular-names.txt
末尾から表示する行数を入力：
>> 5
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [ ]:
# 確認
!tail -n 5 ./popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

##16.ファイルをN分割する

In [ ]:
print("分割するテキストファイル名を入力：")
file_name = input('>> ')
print("分割数を入力：")
n = input('>> ')

# リストを リストの長さ//n 個ずつの要素に分割
def split_list(l, c):
    for idx in range(0, len(l), c):
        yield l[idx:idx + c]

with open(file_name) as f:
    lines = f.readlines()

result = list(split_list(lines, len(lines)//int(n)))

分割するテキストファイル名を入力：
>> popular-names.txt
分割数を入力：
>> 5

In [ ]:
# 分割結果をそれぞれテキストファイルに書き込む
for i in range(len(result)):
    cut_file_name = file_name[0:-4] + str(i) + ".txt"
    with open(cut_file_name, 'w') as f:
        for d in result[i]:
            f.write("%s" % d)

In [ ]:
# コマンドによる分割　（ -l 行数：分割ファイルの行数を指定）
! split -l 556 -d ./popular-names.txt sp

##17.１列目の文字列の異なり

In [ ]:
with open("popular-names.txt") as f:
    lines = f.readlines()
    s_lines = [line.strip() for line in lines]
    col1 = []

    for line in s_lines:
        col1.append(line.split('\t')[0])

# 重複しない要素の個数をカウント
import collections

c = collections.Counter(col1)

print(len(c))

136

In [ ]:
# 確認
! cut -f 1 ./popular-names.txt | sort | uniq | wc -l

136

##18.各行を3コラム目の数値の降順にソート

In [ ]:
import pandas as pd

df = pd.read_table("popular-names.txt", header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

sv = df.sort_values(by="number", ascending=False)
print(sv)

         name sex  number  year
1340    Linda   F   99689  1947
1360    Linda   F   96211  1948
1350    James   M   94757  1947
1550  Michael   M   92704  1957
1351   Robert   M   91640  1947
...       ...  ..     ...   ...
27      Annie   F    1326  1881
28     Bertha   F    1324  1881
8      Bertha   F    1320  1880
29      Alice   F    1308  1881
9       Sarah   F    1288  1880

[2780 rows x 4 columns]

In [ ]:
# 確認
! cat ./popular-names.txt | sort -r -n -k 3 | head -n 5

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947

##19.各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

In [ ]:
import pandas as pd

df = pd.read_table("popular-names.txt", header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

print(df["name"].value_counts())

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Scott        1
Rachel       1
Kelly        1
Crystal      1
Lucas        1
Name: name, Length: 136, dtype: int64

In [ ]:
# 確認
! cut -f 1 ./popular-names.txt | sort | uniq -c | sort -r -n | head -n 5

    118 James
    111 William
    108 Robert
    108 John
     92 Mary